<div class="left-sidebar">
    <div>login</div>
</div>
<div class="main-content">
    <form action="/login" method="post" class="login-form">
        <div class="row">
            <label><span>Login</span>: </label>
            <input type="text" name="username" placeholder="Nickname" />
        </div>
        <div class="row">
            <label><span>Hasło</span>: </label>
            <input type="password" name="password" placeholder="Password" />
        </div>
        <input type="submit" value="Zaloguj" />
    </form>
</div>