<div class="left-sidebar">
    multiupload
</div>
<div class="main-content">
    <form class="upload-form" enctype="multipart/form-data" method="POST" action="/upload">
        <input type="file" name="files" multiple required />
        <button type="submit">upload</button>
    </form>
</div>